.blog-container{
  margin-left:15px;
  margin-right:15px;
  margin-top:15px;
}

.blog-container{
  text-align: left;
}

.blog-container h1{
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  text-align: left;
}