
.home-header{
    
  height: 0;
  padding-bottom: 100%;
  margin: 0 0 2;
  background-image:url('../final/images/main.jpg') ;
  background-position: center center;
  background-size: cover;}
  
  .home-div{
    padding-left: 15px;
    padding-right: 15px;
  }

  .centered-box{
    text-align:center;
    background-color: var(--lightgreen);
    padding: 10px 0px 10px 0px;
}
  }

  p.headline-home{
    font-size: 1.0rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: var(--headercolor);
        
  }

  
  p.highlight-home{
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: var(--uglygreen);
        
  }


