
@import url(nav.css);

@import url(donate.css);

@import url(blog.css);

@import url(about.css);

@import url(home.css);




:root {
  --lightgreen: rgba(102, 119, 34, 0.29);
  --uglygreen:rgb(117, 109, 72);
  --headercolor:rgba(68, 65, 48, 0.88);;  
  --darkgreen:#28602f;
}
  




body{
  margin:0;
  background-color: #f7f7f5 ;
   

}

img{
  width:100%;
}



.hero-image{ 
   width:100%; 
   
} 


.hero-desktop{
    display:none;
  }




p {
 
    font-family: 'Raleway', sans-serif;
    /* text-align: left; */
    font-size: 16px;

   
   
}

b{
  color:var(--headercolor);
}

.home-p p{
    margin-left: 20px;
    margin-right: 20px;
   
}


p.p-headline{
  font-size: 1.1rem;
  line-height: 1.4;
  
   font-weight:500;
    font-family: 'Playfair Display', serif;
     color:var(--headercolor);
}

 h1{
  font-family: 'Playfair Display', serif;
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  color:var(--headercolor);

} 















@media(min-width: 768px){

  /*home */

  .hero-image{
    display:none;}

  .hero-desktop {
    display: inline-block;
    
  }
  .hero-desktop img{
    width:100%;
  }



 



footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background: #756d48;
  text-align: center;
}

footer h1{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1.4rem;

}

}


@media(min-width: 970px){
 
}
