


#main{
  text-align: center;
  
}

/* Page content */
  #main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }


header{
  background-color: white;

 
}


.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color:  var(--uglygreen);
    
}


#openNav img{

  width:30px;
  
}

.nav-logo{
    width: 60px;
   
   }





.logo{
      width: 100%;
    width: 80%;
    text-align: center;
    
    margin-top: -30px;
    margin-left: 10%;




    
}

.side-nav {
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; 
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #756d48;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: white;
  font-family: 'Raleway', serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top:20px;
  /* margin-bottom:10px; */
}





a.donate-link{
  border: 2px solid var(--darkgreen);
      margin-left: 25%;
    margin-right: 25%;
    /* margin-top:20px; */
  
     border-radius: 4px;

       color:var(--darkgreen);
  background-color: white;
}


.side-nav a:hover {
  color: white;
  background-color: var(--darkgreen);
     margin-left: 25%;
    margin-right: 25%;
}


.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
      margin-top: -5px;
}










@media(min-width: 768px){

.logo{
    width: 70%;
    text-align: center;
   
    margin-top: -30px;
    margin-left: 15%;
  }

  .side-nav a{
       margin-left: 35%;
      margin-right: 35%;
      font-size:30px;
  }

  a.donate-link{
    margin-left: 35%;
      margin-right: 35%;
  }

  .side-nav a:hover {
    color: white;
    background-color: var(--darkgreen);
      margin-left: 35%;
      margin-right: 35%;
     
  }

  .side-nav .closebtn{
     /* position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
      margin-top: -5px; */
      right: -230px;

  }

}/* END IPAD! */




@media(min-width: 970px){

  /* Page content */
  #main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }


  /* The sidenav */
  .side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
  }

  .side-nav a {
    margin-left: 0%;
    margin-right: 0%;
    font-size: 15px;
}

.side-nav a:hover {
  color: white;
  background-color: var(--darkgreen);
     margin-left: 0%;
    margin-right: 0%;
}


a.donate-link{
  margin-left: 15%;
margin-right: 15%;
}



 

  .side-nav .closebtn {
  display:none;
  }




.logo {
    
     width: 80%; 
    /* text-align: center; */
    /* display: block; */
    /* margin-top: -30px; */
      /* margin-left: 10%;*/
  margin-top: -12px;
    margin-left: 10%;
    }


#openNav{
  display: none;
}

.nav-container {
    display: none;
}

 

}