
/* BACKGROUND COLORS */
.red {
    background-color:#731702;
}

.white{background-color: white;
}

.offwhite {
    background-color: #F9F7ED;
}

.tan {
    background-color:#FFDBA3;
}

.black {
    background-color:#272727
;
}

.tan2{
  background-color:#FEE18F;
}