
.quote{
  text-align: center;
  padding:30;
  
}
.quote p{
  font-family: Homemade Apple;
  margin: 10;
}

.grid{
 
  display: grid;
  grid-template-columns: 1fr;
}

.gridimages{
  width:100%;
 
  
}

.textbox{
    margin: 35 50 50 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    }


.textbox p{
  margin-top: 10px;
  margin-bottom: 20px;
}

.textbox a{
  text-transform: uppercase;
  border-bottom: 1px solid #272727;
  padding-bottom: 6px;
}
  






/* MID-screen media query */

@media (min-width: 747px){
  .quote p{
    margin: 0px;
  }
}

  



/* LARGE-screen media query */

@media (min-width: 800px){

.grid {
  margin-left:70px;
  margin-right:70px;
  grid-template-columns: repeat(6,1fr);
  grid-gap:10%;
  
}

  .quote p{
    margin: 10px 100px 10px 100px;
  }



  .image1, .menutext{
    grid-row: 1/2;
  }

    .image1{
      grid-column: 1/5;
    }

    .menutext{
      grid-column: 4/-1;
      align-self: center;
    }





  .abouttext, .image2{
    grid-row: 2/3;
  }

    .abouttext{
     grid-column: 1/4;
     align-self: center;
    
    }

   .image2{
     grid-column: 3/-1;
    }





  .imageleft, .imageright{
    grid-row: 3/4;
  }  
    .imageleft{
      grid-column: 1/4;
    }  

    .imageright{
      grid-column: 4/-1 ;
    }

}