.lh-heading{
  text-align: center;
  
/*     
   margin: auto; */
  
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* .quote p{
  font-family: Homemade Apple;
  margin: 10;
} */

main{
  background-color: #F9F7ED;
}

.lh-grid{
 
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F9F7ED;
  margin-left:50px;
  margin-right:50px;
}

.lh-gridimages{
  width:100%;
 
  
}

.lh-textbox{
    /* margin: 35 50 50 50px; */
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    }


.lh-textbox p{
  margin-top: 10px;
  margin-bottom: 5px;
}

.lh-textbox a{
  text-transform: uppercase;
  border-bottom: 1px solid #272727;
 

}

.lh-textbox h2{
  margin-top:10px;
}




@media (min-width: 747px){
  
.lh-grid{
 
  
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  /* margin-left:50px;
  margin-right:50px; */
}



/* LARGE-screen media query */

@media (min-width: 1000px){
.lh-grid{
 
  grid-template-columns: repeat(6,1fr);

  margin-left:50px;
  margin-right:50px;
  grid-gap: 0%;
}
 


 .hb-text, .hb-image{
    grid-row: 1/1;
  }

    .hb-text{
     grid-column: 1/3;
     align-self: center;
     margin-right:100px;
    }

   .hb-image{
     grid-column: 2/4;
    }

    

  .sm-image, .sm-textbox{
    grid-row: 1/1;
  }

    .sm-image{
      grid-column: 4/-2;
    }

    .sm-textbox{
      grid-column: 5/-1;
      align-self: center;
      margin-left:100px;
      /* margin: 35 50 0 -50px; */
    }


  .lh-grid h1{
    font-size: 1.8em;
  }


   



 
  
    
  




}