@import url('colors.css');
@import url('grid.css');
@import url('nav.css');


/* --------------------------------- */
*{
   margin:0;
   padding: 0;
}

body{
  font-family: 'Montserrat',arial, serif;
  background-color: #F9F7ED;
}




.heroimage{ 
  width: 100%; 
} 


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  text-align: center;
}


/* --------------------------- */















/* MID-screen media query */

@media (min-width: 747px){
  
}

  



/* LARGE-screen media query */


@media(min-width: 960px){
  header {
    width:960px;
    margin: auto;
  }
}