@import url('colors.css');
@import url('grid.css');
@import url('locationsgrid.css');
@import url(about.css);
@import url('nav.css');
@import url('menu.css');


/* --------------------------------- */
*{
   margin:0;
   padding: 0;
}

body{
  
  background-color: white;
  text-align: center; 
  color:#272727;
}

p{
  font-family: Josefin Slab, Arial, Helvetica, sans-serif;
 
}

h1{
  /* font-family:Fredericka the Great; */
  font-family:Homemade Apple,Arial, Helvetica, sans-serif ;
}

h3{
   font-family:Josefin Slab,Arial, Helvetica, sans-serif ;
}

.heroimage{ 
  width:100%;
  margin-top: 100px;
} 


/* main{
  padding-top: 80px;
 
} */

main{
  background-color:#F9F7ED;
}


a{
  text-decoration: none;
  
  color: #272727;
  letter-spacing: 0.01em;
}


.lh-grid-home{
    margin-top: -40px;
}

.lh-heading-home{
  /* margin-top: 100px; */
  padding-top: 30px;
  padding-bottom: 30px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  text-align: center;
}



.heroimage{ 
  margin-top: 80px;
} 











/* MID-screen media query */

@media (min-width: 747px){

}

  



/* LARGE-screen media query */


@media(min-width: 960px){

  .heroimage{ 
    margin-top: 0px;
  } 


  .lh-heading-home{/* for index page only */
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 55px;
  }

  footer{
    padding-top:5px;
  }

  footer p{
        font-size: 20px;
  }

  
}