
.nav{
  position: fixed; 
  top:0;
  width: 100%;
  background-color: #F9F7ED;
  text-align: left;
 
}



.logo{
 max-width:200px;
 
}


#toggleassist,
ul.nav-links {
  display:none;
  font-family:  'Homemade Apple';
}

#toggleassist:checked + ul.nav-links{
  display:block;
  height: 100vh;
  text-align: center;
  font-size: 2em;
}

.toggle-button{
  width:40px;
  float:right;
  margin:15px;}

ul.nav-links{
  list-style: none;
  padding-left: 0px;
  
   
}



ul.nav-links a{
  text-decoration: none;
  color: #731702;

}

ul.nav-links a:hover {
  border-bottom: 1px solid #731702;
}




ul.nav-links li {
  padding: 10px;
  
}








/* begin mid-screen media query */

@media (min-width: 720px){

  .nav{
     height: 80px;
  }

   
  .toggle-button{
    display:none;
  }

  ul.nav-links{
    display:block;
    float:right;
    padding-top: 15;
    
  }

  ul.nav-links li{
    display:inline-block;
    border-bottom: none;
    padding-right: 25px;
    /* margin-top:15px; */
  }

}



@media(min-width: 900px){ 
  .logo{
  max-width: 350px;
  z-index:1;
  }
 
  ul.nav-links{
    margin-right: 50px;
}


/* BEGIN mid-screen media query */



 

  



