
.lh-heading{
  text-align: center;
  
/*     
   margin: auto; */
   background-color: white;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}


/* .quote p{
  font-family: Homemade Apple;
  margin: 10;
} */

main{
  background-color: #F9F7ED;
}

.lh-grid{
 
  display: grid;
  grid-template-columns: 1fr;
  /* background-color: #F9F7ED; */
}

.lh-gridimages{
  width:100%;
 
  
}

.lh-textbox{
    margin: 35 50 50 50px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    }


.sm-textbox p{
  margin-top: 10px;
  margin-bottom: 20px;
}

.sm-textbox a{
  text-transform: uppercase;
  border-bottom: 1px solid #272727;

}




@media (min-width: 747px){
  /* .quote p{
    margin: 0px;
  } */
}

  



/* LARGE-screen media query */

@media (min-width: 1000px){

.lh-grid {
  margin-left:50px;
  margin-right:50px;
  grid-template-columns: repeat(6,1fr);
  grid-gap:0%;
  
}

 .hb-text, .image2{
    grid-row: 1/2;
  }

    .hb-text{
     grid-column: 2/4;
     align-self: center;
    
    }

   .image2{
     grid-column: 4/-2;
    }

    

  .image1, .sm-textbox{
    grid-row: 2/3;
  }

    .image1{
      grid-column: 1/4;
    }

    .sm-textbox{
      grid-column: 3/-1;
      align-self: center;
    }

