.donations-text h2{
  font-family: 'Playfair Display';
  color: #444130; 
  padding-top: 0px;
}


.donations-image img {
  width:100%;
  
  height: 100%;
  object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center; 
   
    padding: 0;
    background: rgba(102, 119, 34, 0.39);;
    border-radius: 50%;


 
}

.donations-g img{
     object-position: 1%;
}


.donations-image{
  display: flex;
  justify-content: center;
    align-items: center;

    width: 14rem;
    height: 14rem;
    padding: 0;
    background: rgba(102, 119, 34, 0.39);;
    border-radius: 50%;
}

@media(min-width: 768px){

}

@media(min-width: 970px){
  
}
