@import url(nav.css);

body{
  margin:0;
}

.hero-image{ 
  width:100%;

} 



p {
  text-align: center;
    font-family: 'Playfair Display', serif;
 
    margin-left: 20px;
    margin-right: 20px;

}


p.p-headline{
  font-size: 1.3rem;
  line-height: 1.4;
}

