@import url(nav.css);

body{
  margin:0;
}

#main{
  text-align: center;
}

.hero-image{ 
  width:100%;

} 



p {
  text-align: center;
    font-family: 'Playfair Display', serif;
 
    margin-left: 20px;
    margin-right: 20px;

}


p.p-headline{
  font-size: 1.3rem;
  line-height: 1.4;
}

button{
  border:5px solid red;
}

.grid-item img{
  width:100%;
}

@media(min-width: 768px){
  #grid-container {
   display: grid;
  grid-template-columns: repeat(2, 1fr);;
}

}



@media(min-width: 970px){
  #grid-container {
   display: grid;
  grid-template-columns: repeat(3, 1fr);;
}

}
