

header{
 
}

.logo{
  width:100%;
}

.side-nav {
  height: 100%; 
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; 
  z-index: 1; 
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #756d48;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

}



.side-nav a:hover {
  color: #296130;
}


.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openNav{
  text-align: left;
}

@media(min-width: 970px){
  /* The sidenav */
  .side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Page content */
  #main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }


  .side-nav .closebtn {
 display:none;
}



#openNav{
  display: none;
}


}