
/* BACKGROUND COLORS */
.red-bg {
    background-color: rgb(255, 137, 124);
}

.green-bg {
    background-color: rgb(193, 255, 220);
}

.blue-bg {
    background-color: rgb(169, 206, 255);
}

.yellow-bg {
    background-color: rgb(254, 255, 175);
}

.purple-bg {
    background-color: rgb(154, 96, 212);
}

.orange-bg{
  background-color: rgb(255, 205, 112);
}