@import url('colors.css');
@import url('nav.css');


/* first responsive site */
body{
  margin:0px;
  font-family: 'Montserrat',arial, serif;
  background-color: #F9F7ED;
}

h1{
  float: left;
    font-family: 'Fredericka the Great', cursive;
    font-size: 22px;
    color: #731702;
    /* letter-spacing: 2px;
     */}

img {
  width: 100%;
  height: auto;
}





/* --------------------------- */















/* MID-screen media query */

@media (min-width: 747px){}

  



/* LARGE-screen media query */


@media(min-width: 960px){
  header {
    width:960px;
    margin: auto;
  }
}

  
