
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */

body{
  margin:0px;
}


.logo{max-width:250px;
  justify-content: center;
  align-content: center;}
  



.navbar{
  /* background-color: bisque; */
  margin:10px; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  
}

.nav-item{
  /* background: #43291a; */
  margin: 5px;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 24px;
  
  
 
 
  

  
}

.nav-item a {
    color: #43291a;
    text-decoration: none;
    border: 5px solid #caa168;
    width: 400px;
    
  
}


.container{
  display:flex;
  flex-direction:column;
}




/* 
----------MEDIA QUERY START----------- */


@media(min-width: 500px) {


  .navbar{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  }


  .nav-item a{
    padding:0px 10px;
  }

  

  .home{
    order: -2;
  }

  .menu{
    order: -1;
  }
  .logo{
      order:0;
    }

  .container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  max-width: 100%;
 
 
}

  .image{
     max-width: 33.333333%;
     flex-grow:1;
    
  }

  image3{
    
  }

  .image4{
    max-width:66.6666%;
   
    
  }

  .image5{
    flex-grow:2;
   
    
    
    
  }



    
}



