body{
    margin: 0px;
    
}
img{
  width:100%;
}

header {
    min-height: 100px;
}

label{
    color: midnightblue;
    margin:15px;
}
 
select {
        width: 25%;
        padding: 5px 20px;
        border:2px solid midnightblue;
        border-radius: 10px;
        background-color:white; 
        color:midnightblue
}


.imgGallery{
    display: flex;
    width: 50%;
    height: auto;
    
}

